:root {
    --byat : #F6FBF7;
    --blangaci : #F2F3EF;
    --khedar : #DCF09B;
    --zera9 : #8AD6E4;
    --blueMari : #242D34;
    --blueMariMefto7 : #36576e;
    --radius : 5px;
}

.parentNavbar {
    width: 80vw;
    height: 2.5rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ulNavbar {
    list-style-type:none ;
    display: flex;
    gap: 1rem;
    color: var(--blueMari);
    text-decoration: none;
}
.LinkNavbar {
    color: var(--blueMari);
    text-decoration: none;
}
.LinkNavbar i {
    font-size: 0.7rem;
}

.ulParentBtns {
    display: flex;
    list-style-type: none;
}

.btnFreeTrial {
    text-decoration: none;
    color: var(--blueMari);
    background-color: var(--zera9);
    padding: 0.4rem 0.5rem;
    border-radius: var(--radius);
    transition: all .15s;
}
.btnFreeTrial:hover {
    background-color: var(--blueMari);
    color: var(--zera9);
}
.btnFreeTrial:active {
    background-color: var(--blueMari);
    color: var(--zera9);
    opacity: 0.6;
}

.btnMenu {
    display: none;
}

@media (max-width:540px){
    .parentNavbar {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding-inline: 4rem;
    }
    .btnMenu {
    background-color: var(--zera9);
    color: var(--blueMari);
    padding: 0.2rem 0.2rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    cursor: pointer;
    }
    .ulNavbar {
        background-color: var(--zera9);
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 5.5rem;
        display: none;
        flex-direction: column;
        justify-content: start;
        padding-top: 9rem;
        align-items: center;
        list-style-type: none;
        font-weight: 500;
        color: var(--blueMari);
        gap: 2rem;
    }
    .ulNavbar li { 
        border-bottom: 0.1rem solid var(--blueMari); 
        padding-bottom: 0.4rem;
        font-size: 2rem;
    }
}